<!DOCTYPE html>
<html ng-app="plan_resource">

<head>
	<meta charset="utf-8" />
	<title>Планирование ресурсов</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="plan_resource.css" />
	<script src="сontrollers.js"></script>
</head>

<body>
	<div class="employees_block">
      <div 
        cdkDropList
        #employeesList="cdkDropList"
        [cdkDropListData]="employees" 
        [cdkDropListConnectedTo]="[planList]"
        class="example-list" 
        (cdkDropListDropped)="drop_employee($event)">
          <div class="employee_dd" *ngFor="let employee of employees" cdkDrag>
            <div class="project">
              <a id="{{employee.Employee_id}}">{{employee.text}}</a>
              <div class="add_delete">
                <a (click)="open_window('add_new_record','change_employee('+employee.Employee_id+')','Введите измененное имя работника','Изменить сотрудника')">&#10000;</a>
                <a (click)="delete_employee(employee.Employee_id)">&#10006;</a>
              </div>
          </div>
          </div>
      </div>
      <div id="add" (click)="open_window('add_new_record','add_employee()','Введите имя нового работника','Добавить сотрудника')" class="employee_dd">
				  Добавить работника
			</div>
		</div>
		<div class="main_block">
			<div class="dates">
				<input type="date" id="date_from" name="date_from" ng-model = "dates[0]" placeholder="yyyy-MM-dd" (change)="update()" required/>
				<a>/</a>
				<input type="date" id="date_to" name="date_to" ng-model = "dates[1]" placeholder="yyyy-MM-dd" (change)="update()" required/>
				<a>{{error}}</a>
			</div>
			<div class="calendar">
        <table id = "table_info" mat-table [dataSource]="data" class="mat-elevation-z8">
          <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element" (click)="open_window('modal','','','')"> {{element[column]}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
        <button class="add_project off" id="add_project" (click)="open_window('add_new_record','add_project()','Введите название нового проекта','Добавить проект')">Добавить проект</button>
			</div>
		</div>
        <div class="modal off" id="modal">
            <h3>Выберите проект:</h3>
            <select>
              <option *ngFor="let project of projects">
              {{project.text}}
              </option>
            </select>
            <h3>Выберите дату начала:</h3>
            <input type="date" id="date_from_info" name="date_from" placeholder="yyyy-MM-dd" value="" required/>
            <h3>Выберите дату конца:</h3>
            <input type="date" id="date_to_info" name="date_from" placeholder="yyyy-MM-dd" value="" required/>
            <h3>Выберите занятость в процентах:</h3>
            <a>10%</a><input type="range" id="occupation" name="cowbell" min="10" max="100" value = "10" step="5"><a>100%</a>
            <div class="actions">
                <p style="text-align: center"><button button class="toggle-button" (click)="change_plan()">Сохранить</button>
                    <button button class="toggle-button" (click)="delete_from_plan()">Удалить</button>
                    <button button class="toggle-button" (click)="close_window('modal')">Закрыть</button></p>
            </div>
        </div>
        <div class="modal off" id="add_new_record">
            <h3 id="label_new_record">Введите имя нового пользователя:</h3>
            <a>{{error_add}}</a>
            <input type="text" id = "new_record" value="" required>
            <a><br></a>
            <div class="actions">
                <p style="text-align: center"><button button id="add_record_button" class = "toggle-button" (click)="add_employee()">Добавить сотрудника</button>
                    <button button class = "toggle-button" (click)="close_window(add_new_record)">Закрыть</button></p>
            </div>
        </div>
</body>

</html>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->